//Primary colors
$orange : hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

//Neutral colors
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black : hsl(0, 0%, 0%);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: $white;
    box-shadow: 0 0 3px $dark-grayish-blue;

    .hamburger-logo-nav{
        .hamburger-logo{
            display: flex;
            align-items: center;
            svg{
                color: $dark-grayish-blue;
                cursor: pointer;
            }
            .logo{ margin-left: 15px; }
        }

        nav{
            position: fixed;
            top: 0;
            background-color: white;
            min-height: 100vh;
            left: 0;
            z-index: 4;
            width: 65%;
            padding: 30px 25px;
            transition: all .4s ease-in-out;
            box-shadow: 0 0 15px $dark-grayish-blue;
            transform: translate(-120%);

            .close-nav{
                color: $dark-grayish-blue;
                cursor: pointer;
            }

            .nav-links{
                margin-top: 3rem;
                .nav-link{
                    margin: 18px 0;
                    padding: 2px 0;
                    a{
                        color: $very-dark-blue;
                        font-weight: bold;
                    }
                }
            }
        }
        /*javascript styling*/
        .nav-active{
            transform: translate(0%);
        }
    }

    .cart-avatar{
        display: flex;
        align-items: center;
        .cart-icon-container{
            margin-right: 40px;
            position: relative;
            cursor: pointer;
            svg{
                color: $very-dark-blue;
            }
            .cart-number-of-items{
                position: absolute;
                right: -10px;
                top: -12px;
                background-color: $orange;
                color: $white;
                padding: 1px 7px;
                border-radius: 10px;
            }
        }
        
        .avatar{
            cursor: pointer;
            color: $dark-grayish-blue;
            border: 2px solid $orange;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

//cart component
.cart{
    position: absolute;
    top: 5rem;
    left: 0px;
    width: 100%;
    transform: translateY(-150%) scale(0);
    transition: all .4s ease-in-out;
    .container{
        background-color: $white;
        margin: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px $dark-grayish-blue;
        .heading{
            padding: 20px;
            font-weight: 600;
            color: $very-dark-blue;
            border-bottom: 1px solid $grayish-blue;
        }
        .content{
            .empty-cart{
                color: $dark-grayish-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 200px;
                font-weight: 600;
            }
        }
    }
}
.cart-active{
    transform: translateY(0%) scale(1);
}

//Add-minus-btn component
.add-minus-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: $light-grayish-blue;
    border-radius: 12px;
    margin: 20px 0;
    svg{
        cursor: pointer;
        color: $orange;
        &:active{color: $pale-orange;}
    }
    .count{
        color: $very-dark-blue;
        font-weight: 600;
    }
}

//add-to-cart-btn component
.add-to-cart-btn{
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 16px;
    border-radius: 12px;
    background-color: $orange;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span{margin-left: 10px;}

    &:active{
        background-color: $pale-orange;
    }
}

//rating component
.rating{
    span{margin: 0 0.1rem;}
}


.product-screen{
    .container{
        .hero-img{
            img{width: 100%;}
        }
        .text-container{
            padding: 20px 25px;
            .name{ color: $very-dark-blue; }
            .description{
                color: $dark-grayish-blue;
                line-height: 23px;
                margin: 20px 0 15px;
            }
            .price-container{
                color: $very-dark-blue;
                margin: 15px 0;
            }
            .count-in-stock{
                padding: 8px;
                background-color: $light-grayish-blue;
                display: inline-block;
                border-radius: 5px;
            }
        }
    }
}

.home-page{
    padding: 25px;
    min-height: 100vh;
    .latest-products{
        color: $very-dark-blue;
        .heading{
            margin-bottom: 1.5rem;
        }

        .products{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5% 10%;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .product{
                a{
                    color: $very-dark-blue;
                    img{ width: 100%; }
                    .name{
                        margin-top: 10px;
                    }
                }
                .rating{
                    margin: 10px 0;
                    span{margin: 0.1rem;}
                }
            }
        }
    }
}