* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.login, .signup, .forgot-password, .otp, .new-password {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  color: hsl(220, 13%, 13%);
  background-color: hsl(0, 0%, 100%);
}
.login .error, .signup .error, .forgot-password .error, .otp .error, .new-password .error {
  background-color: orangered;
  color: hsl(0, 0%, 100%);
  border-radius: 7px;
  padding: 10px;
  display: block;
}
.login .container, .signup .container, .forgot-password .container, .otp .container, .new-password .container {
  width: 400px;
  max-width: 100%;
}
.login .container .back-container, .signup .container .back-container, .forgot-password .container .back-container, .otp .container .back-container, .new-password .container .back-container {
  margin-bottom: 2rem;
  display: inline-block;
}
.login .container .back-container a, .signup .container .back-container a, .forgot-password .container .back-container a, .otp .container .back-container a, .new-password .container .back-container a {
  color: hsl(220, 13%, 13%);
  display: flex;
  align-items: center;
}
.login .container .back-container a span, .signup .container .back-container a span, .forgot-password .container .back-container a span, .otp .container .back-container a span, .new-password .container .back-container a span {
  margin-left: 10px;
}
.login .container .headers, .signup .container .headers, .forgot-password .container .headers, .otp .container .headers, .new-password .container .headers {
  margin-bottom: 2rem;
}
.login .container .headers .sub-heading, .signup .container .headers .sub-heading, .forgot-password .container .headers .sub-heading, .otp .container .headers .sub-heading, .new-password .container .headers .sub-heading {
  color: hsl(219, 9%, 45%);
  margin: 0.7rem 0;
}
.login .container .form-control, .signup .container .form-control, .forgot-password .container .form-control, .otp .container .form-control, .new-password .container .form-control {
  margin: 12px 0;
  position: relative;
}
.login .container .form-control label, .signup .container .form-control label, .forgot-password .container .form-control label, .otp .container .form-control label, .new-password .container .form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.login .container .form-control input, .login .container .form-control .phone, .signup .container .form-control input, .signup .container .form-control .phone, .forgot-password .container .form-control input, .forgot-password .container .form-control .phone, .otp .container .form-control input, .otp .container .form-control .phone, .new-password .container .form-control input, .new-password .container .form-control .phone {
  width: 100%;
  padding: 12px;
  border: 1px solid hsl(220, 13%, 13%);
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  color: hsl(220, 13%, 13%);
  outline: none;
}
.login .container .form-control .phone, .signup .container .form-control .phone, .forgot-password .container .form-control .phone, .otp .container .form-control .phone, .new-password .container .form-control .phone {
  padding-left: 47px;
}
.login .container .form-control svg, .signup .container .form-control svg, .forgot-password .container .form-control svg, .otp .container .form-control svg, .new-password .container .form-control svg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 5px;
  cursor: pointer;
}
.login .container .remember-container input, .login .container .terms-conditions-container input, .signup .container .remember-container input, .signup .container .terms-conditions-container input, .forgot-password .container .remember-container input, .forgot-password .container .terms-conditions-container input, .otp .container .remember-container input, .otp .container .terms-conditions-container input, .new-password .container .remember-container input, .new-password .container .terms-conditions-container input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0px;
  height: 0px;
  width: unset;
  border: 1px solid hsl(220, 13%, 13%);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.login .container .remember-container input:checked, .login .container .terms-conditions-container input:checked, .signup .container .remember-container input:checked, .signup .container .terms-conditions-container input:checked, .forgot-password .container .remember-container input:checked, .forgot-password .container .terms-conditions-container input:checked, .otp .container .remember-container input:checked, .otp .container .terms-conditions-container input:checked, .new-password .container .remember-container input:checked, .new-password .container .terms-conditions-container input:checked {
  background-color: hsl(220, 13%, 13%);
}
.login .container .remember-container input:checked::after, .login .container .terms-conditions-container input:checked::after, .signup .container .remember-container input:checked::after, .signup .container .terms-conditions-container input:checked::after, .forgot-password .container .remember-container input:checked::after, .forgot-password .container .terms-conditions-container input:checked::after, .otp .container .remember-container input:checked::after, .otp .container .terms-conditions-container input:checked::after, .new-password .container .remember-container input:checked::after, .new-password .container .terms-conditions-container input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid hsl(0, 0%, 100%);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}
.login .container .remember-container a, .login .container .terms-conditions-container a, .signup .container .remember-container a, .signup .container .terms-conditions-container a, .forgot-password .container .remember-container a, .forgot-password .container .terms-conditions-container a, .otp .container .remember-container a, .otp .container .terms-conditions-container a, .new-password .container .remember-container a, .new-password .container .terms-conditions-container a {
  color: hsl(220, 13%, 13%);
}
.login .container .remember-container, .signup .container .remember-container, .forgot-password .container .remember-container, .otp .container .remember-container, .new-password .container .remember-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.login .container .remember-container .checkbox-container, .signup .container .remember-container .checkbox-container, .forgot-password .container .remember-container .checkbox-container, .otp .container .remember-container .checkbox-container, .new-password .container .remember-container .checkbox-container {
  display: flex;
  align-items: center;
}
.login .container .remember-container .checkbox-container label, .signup .container .remember-container .checkbox-container label, .forgot-password .container .remember-container .checkbox-container label, .otp .container .remember-container .checkbox-container label, .new-password .container .remember-container .checkbox-container label {
  margin-left: 10px;
  margin-bottom: unset;
}
.login .container .remember-container span, .signup .container .remember-container span, .forgot-password .container .remember-container span, .otp .container .remember-container span, .new-password .container .remember-container span {
  padding: 0px;
  margin: 0px;
}
.login .container .terms-conditions-container, .signup .container .terms-conditions-container, .forgot-password .container .terms-conditions-container, .otp .container .terms-conditions-container, .new-password .container .terms-conditions-container {
  display: flex;
  align-items: center;
}
.login .container .terms-conditions-container span, .signup .container .terms-conditions-container span, .forgot-password .container .terms-conditions-container span, .otp .container .terms-conditions-container span, .new-password .container .terms-conditions-container span {
  position: relative;
  left: 10px;
}
.login .container button, .signup .container button, .forgot-password .container button, .otp .container button, .new-password .container button {
  width: 100%;
  display: inline-block;
  background-color: hsl(220, 13%, 13%);
  color: hsl(0, 0%, 100%);
  padding: 12px;
  font-size: 16px;
  border: 1px solid hsl(220, 13%, 13%);
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.otp .form-control {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.otp .form-control input {
  text-align: center;
  width: 40px;
  transition: border-color 0.3s ease;
  border: 1px solid hsl(219, 9%, 45%);
}
.otp .form-control input:focus {
  border: 1px solid hsl(220, 13%, 13%);
}
.otp .form-control input::-webkit-outer-spin-button, .otp .form-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-updated {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(110, 107, 107, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.password-updated .modal-content {
  background-color: hsl(0, 0%, 100%);
  margin: 15% auto;
  padding: 20px;
  width: 350px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.password-updated .modal-content .check-container {
  margin: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.password-updated .modal-content .check-container div {
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-updated .modal-content .check-container .light-grey-container {
  background-color: hsl(223, 64%, 98%);
}
.password-updated .modal-content .check-container .grey-container {
  background-color: hsl(220, 14%, 75%);
}
.password-updated .modal-content .check-container .black-container {
  background-color: hsl(220, 13%, 13%);
  padding: 15px;
}
.password-updated .modal-content .check-container .white-container {
  background-color: hsl(0, 0%, 100%);
}
.password-updated .modal-content .check-container .white-container svg {
  color: hsl(220, 13%, 13%);
}
.password-updated .modal-content .text {
  font-size: 15px;
  padding: 10px 0;
}
.password-updated .modal-content button {
  width: 100%;
  display: inline-block;
  background-color: hsl(220, 13%, 13%);
  color: hsl(0, 0%, 100%);
  padding: 12px;
  font-size: 16px;
  border: 1px solid hsl(220, 13%, 13%);
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}
.password-updated .modal-content button a {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 1rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: hsl(220, 13%, 13%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 3px hsl(220, 14%, 75%);
  z-index: 9;
}
header nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 65%;
  padding: 20px 1rem;
  min-height: 100vh;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px hsl(220, 14%, 75%);
  z-index: 11;
  pointer-events: all;
  transition: all 0.4s ease-in-out;
  transform: translateX(120%);
}
header nav .close-nav {
  text-align: right;
  cursor: pointer;
}
header nav .close-nav:active {
  color: hsl(219, 9%, 45%);
}
header nav .nav-list {
  margin-top: 1.5rem;
}
header nav .nav-list .link {
  margin: 10px 0;
  padding: 5px;
}
header nav .nav-list .link a {
  cursor: pointer;
}
header nav .nav-list .link a:active {
  color: hsl(219, 9%, 45%);
}
header nav .nav-list .shop-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
header nav .nav-list .shop-link-mobile {
  margin-left: 25px;
  height: 0px;
  overflow: hidden;
}
header nav .nav-list .shop-mobile-active {
  height: initial;
}
header .nav-active {
  transform: translate(0%);
}
header .secondary-nav-menu {
  display: flex;
  align-items: center;
}
header .secondary-nav-menu .icons {
  margin-right: 30px;
}
header .secondary-nav-menu .icons svg {
  margin: 0 5px;
  cursor: pointer;
}
header .secondary-nav-menu svg {
  cursor: pointer;
}
header .secondary-nav-menu svg:active {
  color: hsl(219, 9%, 45%);
}
header .secondary-nav-menu button {
  display: none;
}
header a {
  color: hsl(220, 13%, 13%);
}
header .overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  min-height: 100vh;
  background: hsla(0, 0%, 0%, 0.75);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
  display: none;
  transition: all 0.4s ease-in-out;
}
header .overlay-active {
  display: block;
}
@media (min-width: 1024px) {
  header {
    padding: 1.5rem 3rem;
  }
  header nav {
    position: unset;
    min-height: unset;
    height: auto;
    width: unset;
    padding: 0px;
    background-color: unset;
    box-shadow: unset;
    z-index: unset;
    transition: unset;
    transform: unset;
  }
  header nav .close-nav {
    display: none;
  }
  header nav .nav-list {
    margin-top: unset;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  header nav .nav-list .link {
    margin: 0px;
    padding: 0px;
  }
  header nav .nav-list .shop-link-mobile {
    margin-left: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
  }
  header nav .nav-list .shop-mobile-active {
    height: initial;
  }
  header .secondary-nav-menu {
    display: unset;
  }
  header .secondary-nav-menu .menu-bar {
    display: none;
  }
  header .secondary-nav-menu .icons-btn-login {
    display: flex;
    align-items: center;
  }
  header .secondary-nav-menu .icons-btn-login button {
    display: block;
    background-color: hsl(220, 13%, 13%);
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  header .secondary-nav-menu .icons-btn-login button a {
    color: hsl(0, 0%, 100%);
  }
}

main {
  padding-top: 2.5rem;
  flex: 1;
  background-color: hsl(0, 0%, 100%);
}

.blogpage {
  padding: 6rem;
}

footer {
  background-color: hsl(220, 13%, 13%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}
footer a {
  color: hsl(0, 0%, 100%);
}
footer .top-footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
}
footer .top-footer .container .header {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}
footer .top-footer .container li, footer .top-footer .container .description {
  margin: 8px 0;
}
footer .top-footer .contact li {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .top-footer .form-control {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
footer .top-footer .form-control input {
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-family: inherit;
  display: inline-block;
}
footer .top-footer .form-control .email-icon, footer .top-footer .form-control button {
  position: absolute;
  z-index: 2;
  top: 50%;
  bottom: 50%;
  display: flex;
  align-items: center;
}
footer .top-footer .form-control .email-icon {
  left: 15px;
  gap: 5px;
}
footer .top-footer .form-control button {
  right: 15px;
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
}
footer .bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem;
  gap: 20px;
  border-top: 1px solid;
}
footer .bottom-footer .payment-icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .bottom-footer .payment-icons-container img {
  width: 50px;
  display: block;
  background-color: hsl(0, 0%, 100%);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
footer .bottom-footer .socialmedia-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .bottom-footer .socialmedia-container svg {
  cursor: pointer;
}
footer .bottom-footer .copyright-container {
  order: 3;
}
@media (min-width: 1024px) {
  footer {
    padding: 2rem 4rem 0.5rem;
  }
  footer .top-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
    padding: 0 0 2rem;
  }
  footer .top-footer .contact li {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    gap: 5px;
  }
  footer .bottom-footer {
    flex-direction: row;
    padding: 1.5rem 0;
  }
  footer .bottom-footer .copyright-container {
    order: unset;
  }
}

.homepage .hero-section {
  background-color: hsl(223, 64%, 98%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(220, 13%, 13%);
  padding: 2rem 1.5rem;
}
.homepage .hero-section .img-container img {
  display: block;
  width: 100%;
  filter: brightness(70%);
}
.homepage .hero-section .text-container .collection {
  padding: 0.4rem 0;
}
.homepage .hero-section .text-container button {
  display: inline-block;
  background-color: hsl(220, 13%, 13%);
  color: hsl(0, 0%, 100%);
  padding: 12px;
  font-size: 16px;
  border: 1px solid hsl(220, 13%, 13%);
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}
.homepage .hero-section .text-container button a {
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (min-width: 1024px) {
  .homepage .hero-section {
    padding: 4%;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
  }
  .homepage .hero-section .text-container {
    order: 1;
    width: 50%;
    font-size: 22px;
  }
  .homepage .hero-section .text-container h2 {
    font-size: 45px;
  }
  .homepage .hero-section .img-container {
    width: 50%;
    order: 2;
  }
}
.homepage .shop-by-categories {
  padding: 2rem 1.5rem;
  position: relative;
  overflow: hidden;
}
.homepage .shop-by-categories .categories-container {
  margin: 1.5rem 0;
  display: flex;
  align-items: end;
  gap: 4%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.homepage .shop-by-categories .categories-container::-webkit-scrollbar {
  display: none;
}
.homepage .shop-by-categories .categories-container .container {
  min-width: 200px;
  height: 250px;
  flex-shrink: 0;
  margin-right: 10px;
  text-align: center;
  padding: 15px 15px 0;
  background-color: hsl(223, 64%, 98%);
  position: relative;
  display: flex;
  justify-content: center;
}
.homepage .shop-by-categories .categories-container .container .img-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .shop-by-categories .categories-container .container .img-container img {
  width: auto;
  display: block;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage .shop-by-categories .categories-container .container .text-container {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 13%, 13%);
  padding: 5px 30px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 3px hsl(220, 13%, 13%);
}
.homepage .shop-by-categories .prev-next-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.homepage .shop-by-categories .prev-next-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(220, 13%, 13%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .homepage .shop-by-categories {
    padding: 2rem 3rem;
  }
  .homepage .shop-by-categories .heading {
    font-size: 32px;
  }
  .homepage .shop-by-categories .prev-next-btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
  }
}
.homepage .best-sellers {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
}
.homepage .best-sellers .heading {
  margin: 1rem 0;
}
.homepage .best-sellers .containers {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 100%;
  padding: 20px;
}
.homepage .best-sellers .containers .best-seller {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  position: relative;
  background-color: hsl(0, 0%, 100%);
}
.homepage .best-sellers .containers .best-seller:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle hover effect */
}
.homepage .best-sellers .containers .best-seller .img-container {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  overflow: hidden; /* Ensures no overflow from images */
}
.homepage .best-sellers .containers .best-seller .img-container .img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .best-sellers .containers .best-seller .img-container .img img {
  width: auto;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage .best-sellers .containers .best-seller .img-container .img-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.homepage .best-sellers .containers .best-seller .img-container .img-cover:hover {
  opacity: 1;
}
.homepage .best-sellers .containers .best-seller .img-container .img-cover .right-bar {
  display: flex;
  gap: 8px;
}
.homepage .best-sellers .containers .best-seller .img-container .img-cover .right-bar svg {
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 13%, 13%);
  border-radius: 50%;
  padding: 4px;
}
.homepage .best-sellers .containers .best-seller .img-container .img-cover .btn-add-to-cart button {
  padding: 7px;
  border-radius: 5px;
  color: hsl(220, 13%, 13%);
  background-color: hsl(0, 0%, 100%);
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.homepage .best-sellers .containers .best-seller .product-info {
  padding: 1rem;
  text-align: justify;
  align-self: self-start;
}
.homepage .best-sellers .containers .best-seller .product-info .name {
  padding: 5px 0;
}
.homepage .best-sellers .containers .best-seller .product-info .selling-cost-prices {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1024px) {
  .homepage .best-sellers .heading {
    font-size: 32px;
  }
}/*# sourceMappingURL=globals.css.map */